@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove any custom background color definitions since we're using the gradient from tailwind config */
html, body, #root {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    position: relative;
   
}

#root {
    display: flex;
    flex-direction: column;
}
@layer base {
    p {
      @apply font-comic;
    }
    h2 {
      @apply font-comic;
    }
  }