# Dependencies
node_modules/
/server/node_modules/
/client/node_modules/

# Environment files
.env
*.env
.env.*
/server/.env
/client/.env

# Build outputs
/client/dist
/client/dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads
/server/uploads/*
!server/uploads/.gitkeep

# Remove these lines as they're excluding your source files
# /client
# *.json

server/.env
server/node_modules/.bin/nodemon
/server/node_modules
server/node_modules/.package-lock.json
*.md
*.md
/server/node_modules
/server/node_modules
server/.env
server/uploads/image-1735239922659.jpg
server/uploads/image-1735239870479.jpg
server/uploads/image-1735239969350.jpg
server/uploads/image-1735241265041.jpg
server/uploads/image-1735240572652.jpg
server/uploads/image-1735240324593.jpg
*.jpg
client/src/components/adoptPet/dogAdoption/DogAdoptionDetails.jsx
/node_modules
/client
*.json
*.json
