# Dependencies
/node_modules

# Environment Variables
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*

# Uploads (except .gitkeep)
/uploads/*
!uploads/.gitkeep

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env 